<link rel="stylesheet" href="/css/header.css">
<header>
  <div>
    <h2>Blog Post</h2>
  </div>
  <div>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/blog/create">Create Blog</a>
      </li>
    </ul>
  </div>
</header>