<h1>Create Blog</h1>

<form action="" method="POST">
    <input type="text" name="title" placeholder="Enter Title" required>
    <input type="textbox" name="description" placeholder="Enter Description" required>
    <button id="button" type="submit">
        Add
    </button>
</form>