#opendiv{
    margin: auto;
    width:70%;
    font-size: larger;

    .tcc{
        height: auto;
        display: flex;

        .tcc1{
            width: 10%;
            text-align: left;
            margin-bottom: 3%;
        }
        .tcc2{
            width: 90%;
            text-align: left;
        }
    } 
    
}

.buttons{
    
    justify-content: right;
    margin: auto;


    .delete-button{
        background-color: red;
        width: 8%;
        height: 5%;
        color: white;
    }

    .edit-button{
        background-color: yellowgreen;
        width: 8%;
        height: 5%;
        color: white;
    }

}